	.h1,
	h1
	{
		font-size: 3.6em;
	}
	.h2,
	h2
	{
		font-size: 2.4em;
	}
	.h3,
	h3,
	p,
	.cyclic-1 .slide .info .title2
	{
		font-size: 1.8em;
	}
	.h4,
	h4,
	.cyclic-1 .slide .info .title1
	{
		font-size: 1.6em;
	}
	.h5,
	h5
	{
		font-size: 1.6em;
	}
	.h6,
	h6
	{
		font-weight: bold;
	}